#cont {
    background-color: white;
    width: 60rem;
}

body {
    background-color: #EDC78D
}
.container{
    max-width: 500px;
    border-radius: 15px;

}
.nameForm{
font-size: 40px;
max-width: max-content;
font-family: 'Times New Roman', Times, serif;


}

header {
    background-color: rgb(255, 255, 255);
    height: 80px;
    font-size: 35pt;
    font-weight: bold;
    text-align: center;
}

.log {
    float: left;
}

p {
    font-size: 20px;
    font-weight: bold;
}
